<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bacancy Medical.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>037AE8C2256FA32D21E367CB88D9A1E97750DA8A</string>
				<key>dateExpires</key>
				<string>05/01/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>037AE8C2256FA32D21E367CB88D9A1E97750DA8A</string>
						<key>dateExpires</key>
						<string>05/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4R67Q8JL33</string>
						<key>name</key>
						<string>BINAL PATEL</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>037AE8C2256FA32D21E367CB88D9A1E97750DA8A</string>
						<key>dateExpires</key>
						<string>05/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4R67Q8JL33</string>
						<key>name</key>
						<string>BINAL PATEL</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>037AE8C2256FA32D21E367CB88D9A1E97750DA8A</string>
						<key>dateExpires</key>
						<string>05/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4R67Q8JL33</string>
						<key>name</key>
						<string>BINAL PATEL</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>037AE8C2256FA32D21E367CB88D9A1E97750DA8A</string>
						<key>dateExpires</key>
						<string>05/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>bluetooth_enable_fork.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4R67Q8JL33</string>
						<key>name</key>
						<string>BINAL PATEL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>037AE8C2256FA32D21E367CB88D9A1E97750DA8A</string>
						<key>dateExpires</key>
						<string>05/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_blue.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4R67Q8JL33</string>
						<key>name</key>
						<string>BINAL PATEL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>037AE8C2256FA32D21E367CB88D9A1E97750DA8A</string>
						<key>dateExpires</key>
						<string>05/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4R67Q8JL33</string>
						<key>name</key>
						<string>BINAL PATEL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>037AE8C2256FA32D21E367CB88D9A1E97750DA8A</string>
						<key>dateExpires</key>
						<string>05/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4R67Q8JL33</string>
						<key>name</key>
						<string>BINAL PATEL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>037AE8C2256FA32D21E367CB88D9A1E97750DA8A</string>
						<key>dateExpires</key>
						<string>05/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4R67Q8JL33</string>
						<key>name</key>
						<string>BINAL PATEL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>037AE8C2256FA32D21E367CB88D9A1E97750DA8A</string>
						<key>dateExpires</key>
						<string>05/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4R67Q8JL33</string>
						<key>name</key>
						<string>BINAL PATEL</string>
					</dict>
					<key>versionNumber</key>
					<string>3.11.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>037AE8C2256FA32D21E367CB88D9A1E97750DA8A</string>
						<key>dateExpires</key>
						<string>05/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>share.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4R67Q8JL33</string>
						<key>name</key>
						<string>BINAL PATEL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4R67Q8JL33.com.example.flutterBluetoothConnection</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4R67Q8JL33</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>4R67Q8JL33.com.example.flutterBluetoothConnection</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>85a046c4-93d3-400e-a3ea-6ad27199313f</string>
				<key>dateExpires</key>
				<string>05/01/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4R67Q8JL33</string>
				<key>name</key>
				<string>BINAL PATEL</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
